body {
  margin: 0;
  font-family: 'Roboto', 'Open Sans', 'Lato', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', 'Open Sans', 'Lato', sans-serif;
}
